<a href="https://colab.research.google.com/github/ajeet-shekhawat/My-Projects/blob/main/News_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [14]:
data_string = "https://raw.githubusercontent.com/amankharwal/Website-data/master/bbc-news-data.csv"
df = pd.read_csv(data_string,sep='\t')
df.head()

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...

In [11]:
df.isnull().sum()

category    0
filename    0
title       0
content     0
dtype: int64

In [12]:
df["category"].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [15]:
df1 = df[["title","category"]]

In [17]:
x = np.array(df1["title"])
y = np.array(df1["category"])

In [20]:
print(x)
print()
print(y)

['Ad sales boost Time Warner profit' 'Dollar gains on Greenspan speech'
 'Yukos unit buyer faces loan claim' ... 'Be careful how you code'
 'US cyber security chief resigns' 'Losing yourself in online gaming']

['business' 'business' 'business' ... 'tech' 'tech' 'tech']

In [21]:
cv = CountVectorizer()
X = cv.fit_transform(x)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.33, random_state = 42)

In [26]:
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [31]:
user = input("Enter a Text: ")
df_output = cv.transform([user]).toarray()
output = model.predict(df_output)
print(output)

Enter a Text: Now, free bus rides for Capitalâ€™s labour force
['politics']